{% extends "trainer/base.html" %}

{% block title %}
  Change_Pw
{% endblock title %}

{% block content %}
<center>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Change the Existing Password</h2>
        <label for="pw">Password</label>
        <input type="password" id="pw" name="pw"><br><br>
        <label for="cpw">Confirm Password</label>
        <input type="password" id="cpw" name="cpw"><br><br><br>
        <input type="submit" value="changepw">
    </form>
  </center>
{% endblock content %}